docker images
docker build -t <nombre_imagen>:<tag> 
docker tag <nombre_imagen>:<tag> <registry-path>/<nombre_imagen>:<tag>  ex: docker tag <nombre_imagen>:<tag> gru.ocir.io/grgdwmz4vaot/vau-ms-auth:latest
docker login gru.ocir.io
docker push <region>.ocir.io/<tenancy-namespace>/<nombre_repositorio>:<tag> ex docker push gru.ocir.io/grgdwmz4vaot/vau-ms-auth:latest